<h1>Your projects ({{ projects ? projects.length : 0 }})</h1>
<div class="placeholder" *ngIf="!projects || projects.length <= 0">
    <p>You have no projects yet! <a (click)="onAddNewProject()">Start a new project.</a></p>
</div>
<div class="cards-container" *ngIf="projects && projects.length > 0">
    <div class="card-container">
        <mat-card matRipple class="add-new-project-button-card" (click)="onAddNewProject()">
            <div class="button-card-content">
                <mat-icon>add</mat-icon>
                <p>Start a new project</p>
            </div>
        </mat-card>
    </div>
    <div class="card-container" *ngFor="let project of projects; let i = index;">
        <mat-card matRipple class="project-card" (click)="navigateToProjectDetails(project.id)">
            <h3>{{ project.reference }}</h3>
            <div class="project-menu-button-container" (click)="$event.stopPropagation()" [matMenuTriggerFor]="projectMenu" [matMenuTriggerData]="{ projectIndex: i }">
                <mat-icon>more_vert</mat-icon>
            </div>
            <mat-menu #projectMenu="matMenu">
                <ng-template matMenuContent let-projectIndex="projectIndex">
                    <button mat-menu-item (click)="onEditProject(projectIndex)">
                        <mat-icon>create</mat-icon>
                        <span>Edit project</span>
                    </button>
                    <button mat-menu-item (click)="onDeleteProject(projectIndex)">
                        <mat-icon>clear</mat-icon>
                        <span>Delete project</span>
                    </button>
                </ng-template>
            </mat-menu>
        </mat-card>
    </div>
</div>
