$colors: (
    primary: #C2185B,
    primary-shade: #AB1550,
    primary-tint: #C82F6B,
    information: #33B5E5,
    success: #00C851,
    warning: #FFBB33,
    danger: #FF4444,
    white: #FFFFFF,
    black-dark: #45484D,
    black-medium: #8A9199,
    black-light: #E5E5E5,
    black-lightest: #F3F3F3,
    background: #303030
);
